<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutAdmin/layout}">
<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" type="text/css" 
	th:href="@{/css/admin/index.css}" />
		<title>Chỉnh sửa thông tin</title>
</head>
<body>
	<div layout:fragment="content">
	<div></div>
		<div class="container shadow mt-4">
		<form  th:action="@{/lop/edit}" th:object="${lop}" method="post">
        <h4 class="text-info"> Chỉnh sửa thông tin Lớp học</h4>
        	<div class="form-group">
                <label for="name"></label>
                <input type="hidden" th:field="*{id}" class="form-control"  required>
            </div>               			
            <div class="form-floating mb-3">
                <input type="text" th:field="*{tenLop}" class="form-control"    id="floatingInput" required>
                <label for="floatingInput">Mã lớp</label>
            </div>
           <div class="form-floating mb-3">
                <input type="text" th:field="*{maLop}" class="form-control"    id="floatingInput" required>
                <label for="floatingInput">Tên lớp</label>
            </div>
         			<div class="col-md-6">
            	<div class="form-floating mb-3">
    <select class="form-select" id="makhoa" name="makhoa" th:field="*{khoa.maKhoa}">
        <option th:each="khoa : ${khoaList}" th:value="${khoa.maKhoa}" th:text="${khoa.tenKhoa}"
                th:selected="${khoa.tenKhoa == lop.khoa.tenKhoa}"></option>
    </select>
    <label for="makhoa">Tên khoa</label>
</div>
            		</div>

            <button type="submit" class="btn btn-primary mt-3 px-4 mb-4">Lưu</button>
            <a th:href="@{/admin/listLop}" class="btn btn-secondary mt-3 mb-4">Quay lại</a>
    
		</form>
    </div>
	</div>

</body>
</html>
