<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutAdmin/layout}">
<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
	<title>Danh sách khoa</title>
	<link rel="icon" th:href="@{/img/sinhvien/admin.png}" type="image/png">
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
				<div class="header">
			<div class="bg-white mt-3 mb-3">
					<b class="text-decoration-underline">Danh sách khoa</b>
					</div>
			</div>
			


			<div class="card card-info">
				<div class="card-heard bg-info bg-gradient p-2">
					<a class="btn btn-success" data-toggle="modal" data-target="#addModal">Thêm khoa</a>
				</div>

				<form th:action="@{admin/listKhoa}" method="post"
					class="form-horizontal">
					<div class="card-body">
						<table class="table table-striped table-responsive-md">
							<thead>
								<tr>
									<th>No</th>
									<th>Mã khoa</th>
									<th>Tên khoa</th>
									<th>Chức năng</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item, state:${khoaList}">
									<td th:text="${state.count}"></td>
									<td th:text="${item.maKhoa}"></td>
									<td th:text="${item.tenKhoa}"></td>							
									<td>
										<a th:href="@{'/khoa/delete?id=' + ${item.id}}" class="btn btn-danger"> <i class="bi bi-trash3-fill"></i></a>
										<a th:href="@{'/khoa/edit?id=' + ${item.id}}" class="btn btn-secondary"> <i class="bi bi-pencil-fill"></i></a>
									</td>					
								</tr>
							</tbody>
						</table>
					</div>
				</form>
			</div>
		</div>
		
		<!--   modal add-->
		<div class="modal fade" id="addModal" tabindex="-1"  role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 50%;" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="modal-title text-white" id="addModalLabel">Thêm Khoac</h5>
      </div>
        <form th:action="@{/khoa/add}" method="post">
      <div class="modal-body">
          	<div class="row">
          		<div class="col-md-6">
          			<div class="form-floating mb-3">
					  <input type="text" class="form-control" name="maKhoa" id="floatingInput" placeholder="name@example.com">
					  <label for="floatingInput">Mã khoa</label>
					</div>
          		</div>
          		<div class="col-md-6">
          			<div class="form-floating mb-3">
					  <input type="text" class="form-control" name="tenKhoa" id="floatingInput" placeholder="name@example.com">
					  <label for="floatingInput">Tên khoa</label>
					</div>
          		</div>	        		
          	      	
          	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Lưu</button>
      </div>
       </form>
    </div>
  </div>
</div>
	</div>

</body>
</html>
