<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-tofit=no">
<!-- Read CSS -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/login/login.css}">
<!-- Read JS -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<link rel="icon" th:href="@{/img/sinhvien/login.png}" type="image/png">
<title>Đăng nhập</title>
</head>
<body class="bg-light">
    <form action="/sinhvien/login" method="POST">
        <section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
       
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" id="maSV" name="maSV" class="form-control form-control-lg" placeholder="Mã sinh viên" />
            
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="pass" name="pass" class="form-control form-control-lg" placeholder="Mật khẩu" />
          
          </div>

          <!-- Submit button -->
    	<p th:text="${error}" class=" text-danger fw-bold mt-3 text-center" ></p>
    	<p th:text="${error5}" class=" text-danger fw-bold mt-3 text-center" ></p>
          <button type="submit" class="btn text-white btn-lg  " style="background-color: #00CC99; ">Đăng nhập</button>    
      </div>
    </div>
  </div>
  
</section>
    </form>
</body>


</html>
